@layer component {
    @scope (kc-header,header[is="kc-header"]) {
        :scope {
            display: flex;
            flex-direction: column;
            width: 200px;
            padding: 10px;
            background-color: var(--kc-clr-primative-steel-blue);
        }

        .kc-header__logo {
            margin-bottom: 10px;
        }

        .kc-header__heading {
            font-size: 18px;

        }

        .kc-header__version {
            font-size: 12px;
            font-weight: 400;
            margin-top: auto;
        }

        .kc-header__status,
        .kc-header__activity {
            font-size: 14px;
            font-weight: 500;
        }
    }
}