<button class="kc-editor__exit">X</button>
<h2>Profile Editor</h2>
<canvas class="kc-editor__chart"></canvas>
<label>Name <input type="text" class="kc-editor__profile-name" placeholder="My profile"></label>
<div class="kc-editor__table">
  <div class="kc-editor__phase kc-editor__phase--warm">
    <ul class="kc-editor__table-header">
      <h3 class="kc-editor__phase-label">Warming</h3>
      <li></li>
      <li>#</li>
      <li>Temperature</li>
      <li>Duration</li>
      <li><button class="kc-editor__add"><span class="material-symbols-outlined">
add_box
</span></button></li>
    </ul>
    <ul class="kc-editor__profile-list">
    </ul>
  </div>
  <div class="kc-editor__phase--soak kc-editor__phase">
    <ul class="kc-editor__table-header">
      <h3 class="kc-editor__phase-label">Soak</h3>
            <li></li>
      <li>#</li>
      <li>Temperature</li>
      <li>Duration</li>
      <li><button class="kc-editor__add"><span class="material-symbols-outlined">
add_box
</span></button></li>
    </ul>

    <ul class="kc-editor__profile-list ">
    </ul>
  </div>
  <div class="kc-editor__phase--cool kc-editor__phase">
    <ul class="kc-editor__table-header">
      <h3 class="kc-editor__phase-label">Cooling</h3>
            <li></li>
      <li>#</li>
      <li>Temperature</li>
      <li>Duration</li>
      <li><button class="kc-editor__add"><span class="material-symbols-outlined">
add_box
</span></button></li>
    </ul>
    <ul class="kc-editor__profile-list">

    </ul>
  </div>
  <button class="kc-editor__save">Save</button>
</div>