<h2>Profile Editor</h2>
<canvas class="kc-editor__chart"></canvas>
<label>Name <input type="text"></label>
<table>
    <thead>
        <th>Step</th>
        <th>Phase</th>
        <th>Temp</th>
        <th>Duration</th>
        <th>Remaining</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td>--:--</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td>--:--</td>
            <td><button>add</button></td>
        </tr>
    </tfoot>
    <button>Save</button>
</table>