<p class="kc-typo__body">Current Profile:</p>
<h2 class="kc-typo__section-heading"><span class="kc-dashboard__name">Cone 06 - Bisque</span><span class="kc-dashboard__status"></span></h2>
<!-- <canvas class="kc-dashboard__chart"></canvas> -->
<kc-chart></kc-chart>
<table class="kc-dashboard__profile">
    <thead class="kc-dashboard-profile__header kc-typo__label">
        <tr>
            <th>Step</th>
            <th>Temp (C)</th>
            <th>Duration</th>
            <th>Remaining</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="kc-dashboard__steps">
    </tbody>
</table>