:root{
    --kc-clr-primative-bone: #D9CFC1;
    --kc-clr-primative-faded-copper: #A77E58;
    --kc-clr-primative-rusty-spice:#BA3F1D;
    --kc-clr-primative-vanilla-custard:#EEE3AB;
    --kc-clr-primative-steel-blue:#80A1C1;

    --kc-clr-primative-white: #ffffff;
    --kc-clr-primative-black: #000000;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: stretch;
}



.kc-viewport{
    background-color: color-mix(in srgb, var(--kc-clr-primative-bone) 40%, var(--kc-clr-primative-white));
    display: flex;
    flex-direction: row;
    padding:20px;
    gap:20px;
    flex-grow: 1;

    .kc-viewport__c1,.kc-viewport__c2{
        display: flex;
        flex-direction: column;
        gap:inherit
    }

    .kc-viewport__c1{
        width:33%;
    }

    .kc-viewport__c2{
        width: 77%;
    }

}