@layer component {
    @scope (kc-quickselect, section[is="kc-quickselect"]){
        :scope {
            border: 1px solid black;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap:10px;
        }

        .kc-quickselect__entries{
            list-style: none;
            display: flex;
            flex-direction: column;
            border: 1px solid #0003;
            .kc-quickselect__option{
                display: block;
                border-bottom:1px solid #0003;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}